spring.application.name=muzikle

app.message=Hello from application.properties!

spring.application.name=muzikle

app.message=Hello from application.properties!

kafka.producers.user.bootstrap-servers=localhost:9092
kafka.producers.user.topic=user-events
kafka.producers.user.batch-size=16384
kafka.producers.user.linger-ms=5